html {
  height: 100%;
}

body {
  background-color: #1F1F1F;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #A9A9A9;
  height: 100%;
}

menu {
  margin: 0px;
  padding: 0px;
  background-color: #131313;
  font-size: 1.364em;
  color: white;
  font-family: 'Lato', sans-serif;
  height: 3em;
  line-height: 2.5em;
  position: relative;
}

menu h1 {
  float: left;
  margin: 0px 0px;
  padding: 0px;
  float: left;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: none;
}

menu .left {
  left: 0px;
  position: absolute;
  top: 0px;
}

menu .right {
  right: 0px;
  position: absolute;
  top: 0px;
}

menu .center {
  margin: 0 auto;
  display: block;
  text-align: center;
}

menu a {
  display: inline-block;
  height: 3em;
  line-height: 3em;
  padding: 0 10px;
  text-decoration: none;
  color: white;
  -moz-opacity: 0.30;
  opacity: 0.30;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
  margin: 0 0px;
  font-size: 1em;
  text-transform: uppercase;
}

menu a.active {
  background-color: #1F1F1F;
  color: #DC6347;
  -moz-opacity: 1.00;
  opacity: 1.00;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}

footer {
  background-color: #262626;
  position: relative;
  height: 3em;
  line-height: 3em;
  margin-top: -3em;
  font-family: Arial;
}

footer a {
  text-decoration: none;
  color: white;
  -moz-opacity: 0.15;
  opacity: 0.15;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=15);
  margin: 0 10px;
}

footer .right {
  float: right;
}

#container {
  min-height: 100%;
}

#content {
  margin: 0 10px;
  overflow: hidden;
}

h2 {
  font-size: 3em;
}